/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body{
    font-family: 'Nunito', sans-serif;
    background-color: #b2bec3;
    font-size: 18px;
}

h1{
    font-size: 36px;
    font-weight: 700;
    color:#d63031 ;
    margin: 0px;
    
}
p{
    margin: 30px 0px;
}

.content{
    position: relative;
    max-width: 550px;
    background-color: white;
    margin: 150px auto ;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;

}
.content__body{
    padding: 30px;
}


.foto{
    position: absolute;
    right:-75px;
    top: -75px;
    height: 150px;
    width: 150px;
    border: 3px solid white;
    z-index: 3;
    border-radius: 50%;
}

.button {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;

}
.twitter{
    background-color:#1da1f2 ;
    margin-bottom: 5px;
}
.facebook{
    background-color: #3b5998;
}